/*for desktop*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91%;}
.col-12{width: 100%;}
/*nav start*/
.navbar-logo{
    text-align: left;
}
.navbar-heading{
    text-align: right;
}
.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-menu a{
    padding: 5px 10px;
    margin: 20px 10px;
    background-color: transparent;
}
/*nav end*/
/* profile start*/

.profile .top-weather{
    right:100px;
    width: 120px;
    
}
.profile .top-weather:hover{
    transform: rotate(360deg);
    width: 140px;
}
.profile .bottom-weather{
    width: 120px;
    left:120px;
    bottom:20px;
    
}
.profile .bottom-weather:hover{
    width: 140px;

}
.profile-dsc p{
    
    color: rgb(223, 123, 53);
    margin: 0 auto;
    bottom: 8px;

    
}
/*profile end*/
/*about me*/
.aboutme-image img{
    text-align: center;
    
}
/*pro*/
.ac{
    padding-right:50px ;
}
.mbutton button{
    font-size: 60px;
}

